/* General styling that applies to all pages*/
html {
  font-size: 24px;
  font-family: "mrs-eaves", Baskerville, sans-serif;
  color: black;
  font-weight: 300;
  line-height: 1.2;
}

body {
  height: 100vh;
  width: 1000px;
  margin: 0 auto;
}

.nav-container-hamburger {
  display: none;
}

#overlay {
  display: none;
}

header {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

main {
   background-image: url("https://i.ibb.co/c162CRd/e03211e9-0469-4c61-b295-8413044e1fc2.jpg");
   height: 80%;
   width: 100%;
   background-size: 400px;
   margin: 10px;
   background-position: center;
   background-repeat: no-repeat;
}

section {
  margin-left: 10%;
}

.hamburger-icon {
  display: none;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 7px;
  width: 170px;
}

.nav-item {
  color: black;
  text-decoration: none;
  margin: 0px 10px 0px 10px;
  padding: 0px;
  line-height: 1.2;
}

.nav-item-visible {
  color: black;
  font-weight: 600;
  text-decoration: none;
  margin: 0px 10px 0px 10px;
  line-height: 1;
}

.nav-item:hover {
  font-weight: 600;
}

.small-logo {
  width: 190px;
  margin: 30px 0px 30px 150px;
  cursor: pointer;
}
/*Home page*/
#quoteParagraph {
  margin-bottom: 30px;
  margin-top: 10px;
}

.eye-button-container {
  display: flex;
  margin-top: 80px;
  margin-bottom: 100px;
  animation: eye-animation 5s infinite;
  animation-timing-function: linear;
}

#eye-button {
  cursor: pointer;
  width: 80px;
  border: none;
  padding: 0px;
  margin: 0 auto;

}
#eye-button-no-click {
  width: 80px;
  border: none;
  padding: 0px;
  margin: 0 auto;
}

#eye-image {
  width: 80px;
}

@keyframes eye-animation {
  0%   {margin-top: 80px; margin-left: 0px;}
  20%  {margin-top: 80.5px; margin-left: 0.5px;}
  40%  {margin-top: 80.5px; margin-left: 1px;}
  60%  {margin-top: 80px; margin-left: 1.5px;}
  80%  {margin-top: 79.5px; margin-left: 1px;}
  100% {margin-top: 79.5px; margin-left: 0.5px;}
}

/*Vision page*/
.vision-main {
  background-image: none;
  display: flex;
  height: 70%;
  margin-top: 25px;
}

.text-container {
  margin-top: 7px;
}

.we-paragraph-4 {
  margin: 0px 0px 30px 0px;
  line-height: 1.2;
  font-weight: 600;
}

p {
  max-width: 600px;
  margin: 0px 0px 30px 0px;
  line-height: 1.2;
}

/*What We Do page*/
.sub-page-main {
  background-image: none;
  display: flex;
  height: 70%;
  margin-top: 25px;
}

h4 {
  font-size: 24px;
}

/*Who we are*/
.bolded-p-text {
  font-weight: 600;
}

h3 {
  align-items: left;
  font-size: 24px;
}

/*News page*/
.news-blank-div {
  height: 500px;
}

.coming-soon {
  margin-top: -7px;
  font-weight: 600;
  margin-bottom: 20px;
  width: 600px;
}

/*Contact page*/
.main-contact {
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-eyes {
  max-width: 600px;
  margin-top: 5px;
}

.email {
  font-weight: 600;
  margin-top: 70px;
  margin-bottom: 20px;
}

.social-container {
  display: flex;
}

.social-image {
  width: 35px;
  padding: 5px;
}

.contact-info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.blank-div {
  height: 30px;
}

.blank-div-contact {
  height: 100px;
}

#overlay {
  background-color: white;
  height: 200%;
  width: 100%;
  display: none;
  position: absolute;
  z-index: 1;
}

#button {
  display: none;
}

/* Media Query */


@media screen and (max-width: 930px) {

  html {
    font-size: 32px;
  }
  
  .nav-container-hamburger {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 48px;
    left: 130px;
    z-index: 2;
  }

  .hamburger-icon {
    display: block;
    position: absolute;
    left: 50px;
    top: 66px;
    z-index: 2;
    width: 30px;
  }

  #button {
    margin: 30px 0px;
    left: 43px;
    background-color: white;
    border: none;
    cursor: pointer;
    display: block;
    z-index: 2;
  }

  .nav-container {
    display: none;
  }

  body {
    width: auto;
  }

  section {
    margin-left: 0px;
  }

  main {
    justify-content: center;
    margin: 0;
  }

  .small-logo {
    margin: 30px 0px 30px 0px;
    width: 220px;
  }

  .nav-item {
    line-height: 2;
  }
  .nav-item-visible {
    line-height: 2;
  }
