/* General styling that applies to all pages*/
html {
  font-size: 24px;
  font-family: "mrs-eaves", Baskerville, sans-serif;
  color: black;
  font-weight: 300;
}

body {
  height: 100vh;
}

main {
   background-image: url("https://i.ibb.co/c162CRd/e03211e9-0469-4c61-b295-8413044e1fc2.jpg");
   height: 80%;
   width: 100%;
   background-size: 600px;
   margin: 10px;
   background-position: center;
   background-repeat: no-repeat;
}

.fixed-footer {
  display: flex;
  justify-content: space-between;
  margin: 0px 50px 40px 50px;
  position: fixed;
  bottom: 0;
}

.nav-item {
  color: black;
  text-decoration: none;
  padding: 5px 0px;
  margin: 0px 10px 20px 10px;
}

.nav-item:hover {
  border-bottom: 5px solid black;
}
.nav-item-visible {
  border-bottom: 5px solid black;
  color: black;
  text-decoration: none;
  padding: 5px 0px;
  margin: 0px 10px 20px 10px;
}

/*Vision page*/
.eye-button-container {
  position: absolute;
  z-index: 5;
}

#eye-button {
  cursor: pointer;
  width: 120px;
  border: none;
  padding: 0px;
  position: fixed;
  right: 230px;
  top: 105px;
}

@keyframes eye-animation {
  0%   {right:230px; top:105px;}
  17%  {right:229px; top:106px;}
  34%  {right:229px; top:107px;}
  51%  {right:230px; top:108px;}
  68%  {right:231px; top:107px;}
  83% {right:231px; top:106px;}
  100% {right:230px; top:105px;}
  /*40%  {right:222px; top:115px;}
  50%  {right:200px; top:200px;}
  60%  {right:222px; top:215px;}
  80%  {right:225px; top:110px;}
  */
}

#eye-button {
   animation: eye-animation 3s infinite;
   animation-timing-function: linear;
}

#quotes {
  display: none;
  position: absolute;
  top: 25%;
  right: 35%;
  z-index: 4;
}

#quoteParagraph {
  font-size: 1.4rem;
  margin-bottom: 30px;
  font-style: italic;
}

#attributionParagraph {
  color: grey;
  font-size: 1rem;
}

#overlay {
  background-color: hsla(100, 50%, 100%, 0.90);
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
  z-index: 3;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.eye-text-container {
  display: flex;
  justify-content: center;
}

.we-paragraph {
  width: 50%;
  margin: 0px 40px 40px 40px;
}
.we-paragraph-4 {
  width: 50%;
  margin: 0px 40px 40px 40px;
  font-weight: 600;
}

p {
  max-width: 500px;
}

/*What we Do page*/
.main-whatwedo {
  background-image: none;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.whatwedo-paragraph {
  margin-top: 140px;
}

.div-line {
  max-width: 130px;
  height: 1px;
  background-color: grey;
  padding-left: 120px;
  margin-top: 140px;
}

.blank-div {
  height: 40px;
}

h3 {
  align-items: left;
}

h4 {
  font-size: 24px;
}

.whatwedo-sub-paragraph {

}

.bolded-p-text {
  font-weight: 600;
}

.whatwedo-container {
  display: flex;
  flex-direction: column;
}

.whatwedo-footer {
  display: flex;
  justify-content: space-between;
  margin: 150px 50px 0px 50px;
  position: relative;
}

.home-vision-container {

}

/*Contact page*/

.main-contact {
  background-image: url("https://i.ibb.co/N2P7mjx/Untitled-Artwork.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90vw;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email {
  font-weight: 600;
  padding-bottom: 50px;
}

.contact-info-container {
  background-color: white;
  width: 40%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact {
  position: fixed;
  right: 50px;
}

.contact-whatwedo {
  margin-right: 50px;
}




/*.eye-image-1 {
  background-image: url("https://i.ibb.co/TMJZnJ4/Eye1-1.png");
  height: 65%;
  width: 10%;
  margin: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90px;
}

.eye-image-2 {
  background-image: url("https://i.ibb.co/frZ6c25/Eye2.png");
  height: 65%;
  width: 10%;
  margin: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90px;
}

.eye-image-3 {
  background-image: url("https://i.ibb.co/9HP2yVY/Eye3.png");
  height: 60%;
  width: 10%;
  margin: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90px;
}

.eye-image-4 {
  background-image: url("https://i.ibb.co/vmY29hN/Eye4.png");
  height: 56%;
  width: 10%;
  margin: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90px;
}
*/
@media only screen and (max-width: 900px) {
  footer {
    position: relative;
  }

  .contact {
    position: relative;
  }

  section {
    height: auto;
  }
  .eye-image-1 {
    height: 36px;
    width: 10%;
    margin-top: 75px;
  }
  .eye-image-2 {
    height: 30px;
    width: 10%;
    margin-top: 75px;
  }
  .eye-image-3 {
    height: 30px;
    width: 10%;
    margin-top: 50px;
  }
  .eye-image-4 {
    height: 30px;
    width: 10%;
    margin-top: 50px;
  }
  .eye-text-container {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 800px) {
  .eye-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .eye-image-1 {
    height: 36px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 50px;
  }
  .eye-image-2 {
    height: 30px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .eye-image-3 {
    height: 30px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .eye-image-4 {
    height: 30px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 10px;
  }

    footer {
      position: static;
    }

    .contact {
      position: static;
    }

    .we-paragraph {
      width: 50%;
      margin: 0px 40px 10px 40px;
    }
}
