/* General styling that applies to all pages*/
html {
  font-size: 24px;
  font-family: "mrs-eaves", Baskerville, sans-serif;
  color: black;
  font-weight: 300;
  line-height: 1.2;
}

body {
  height: 100vh;
  width: 1000px;
  margin: 0 auto;
}

header {
  margin-top: 35px;
}

main {
   background-image: url("https://i.ibb.co/c162CRd/e03211e9-0469-4c61-b295-8413044e1fc2.jpg");
   height: 80%;
   width: 100%;
   background-size: 400px;
   margin: 10px;
   background-position: center;
   background-repeat: no-repeat;
}

section {
  margin-left: 10%;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 170px;
}

.nav-item {
  color: black;
  text-decoration: none;
  margin: 0px 10px 0px 10px;
  padding: 0px;
  line-height: 1.2;
}

.nav-item-visible {
  color: black;
  font-weight: 600;
  text-decoration: none;
  margin: 0px 10px 0px 10px;
}

.nav-item:hover {
  font-weight: 600;
}

.small-logo {
  width: 220px;
  margin-left:-40px;
  cursor: pointer;
}
/*Home page*/
#quoteParagraph {
  margin-bottom: 30px;
}

.eye-button-container {
  display: flex;
  margin-top: 80px;
  margin-bottom: 100px;
  animation: eye-animation 5s infinite;
  animation-timing-function: linear;
}

#eye-button {
  cursor: pointer;
  width: 80px;
  border: none;
  padding: 0px;
  margin: 0 auto;

}
#eye-button-no-click {
  width: 80px;
  border: none;
  padding: 0px;
  margin: 0 auto;
}

#eye-image {
  width: 80px;
}

@keyframes eye-animation {
  0%   {margin-top: 80px; margin-left: 0px;}
  20%  {margin-top: 80.5px; margin-left: 0.5px;}
  40%  {margin-top: 80.5px; margin-left: 1px;}
  60%  {margin-top: 80px; margin-left: 1.5px;}
  80%  {margin-top: 79.5px; margin-left: 1px;}
  100% {margin-top: 79.5px; margin-left: 0.5px;}
}

/*Vision page*/
.vision-main {
  background-image: none;
  display: flex;
  height: 70%;
  margin-top: 25px;
}

.text-container {
  margin-top: 7px;
}

.we-paragraph-4 {
  margin: 0px 0px 30px 0px;
  line-height: 1.2;
  font-weight: 600;
}

p {
  max-width: 600px;
  margin: 0px 0px 30px 0px;
  line-height: 1.2;
}

/*What We Do page*/
.sub-page-main {
  background-image: none;
  display: flex;
  height: 70%;
  margin-top: 25px;
}

h4 {
  font-size: 24px;
}

/*Who we are*/
.bolded-p-text {
  font-weight: 600;
}

h3 {
  align-items: left;
  font-size: 24px;
}

/*News page*/
.news-blank-div {
  height: 500px;
}

.coming-soon {
  margin-top: -7px;
  font-weight: 600;
  margin-bottom: 20px;
  width: 600px;
}

/*Contact page*/
.main-contact {
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email {
  font-weight: 600;
  margin-top: 70px;
  margin-bottom: 20px;
}

.social-container {
  display: flex;
}

.social-image {
  width: 35px;
  padding: 5px;
}

.contact-info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.blank-div {
  height: 30px;
}

/* Media Query */
@media only screen and (max-width: 900px) {
  footer {
    position: relative;
  }

  .contact {
    position: relative;
  }

  section {
    height: auto;
  }
  .eye-image-1 {
    height: 36px;
    width: 10%;
    margin-top: 75px;
  }
  .eye-image-2 {
    height: 30px;
    width: 10%;
    margin-top: 75px;
  }
  .eye-image-3 {
    height: 30px;
    width: 10%;
    margin-top: 50px;
  }
  .eye-image-4 {
    height: 30px;
    width: 10%;
    margin-top: 50px;
  }
  .eye-text-container {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 800px) {
  .eye-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .eye-image-1 {
    height: 36px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 50px;
  }
  .eye-image-2 {
    height: 30px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .eye-image-3 {
    height: 30px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .eye-image-4 {
    height: 30px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 10px;
  }
}
